@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity !important;
}

@layer component {
  .toast-dark-base {
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    @apply text-white bg-slate-950/80 hover:bg-slate-950/[.95];
  }
  .toast-light-base {
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    @apply text-black bg-slate-100/90 hover:bg-slate-100;
  }

  .toast-base {
    transition: transform 0.6s ease-in-out;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    @apply rounded-md;
  }
}
